<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.telecom.jx.sjy.dangyuanback.mapper.AchievementMapper">

    <!--注意字段要和javabean的一样-->
    <sql id="baseSql">
        a.id id,
        a.title title,
        a.content content,
        a.year year,
        a.publishTime publishTime,
        a.roleId roleId,
        a.dScore dScore,
        a.lScore lScore,
        a.hScore hScore,
        a.rate rate,
        a.otherAttr otherAttr,
        a.sumScore sumScore
    </sql>

    <!--查询本年用户所有工作业绩-->
    <select id="selectAchievements" parameterType="java.lang.Integer"
            resultType="com.telecom.jx.sjy.dangyuanback.pojo.po.Achievement">
        SELECT
        <include refid="baseSql"/>
        FROM t_achievement a
        WHERE a.year = #{year}
    </select>

    <!--查询党责活动的完成状态，未使用-->
    <select id="selectDangZeState" parameterType="java.util.Map" resultType="java.lang.Integer">
        SELECT state
        FROM t_user_dangze
        WHERE userId = #{userId} AND dangzeId = #{dangzeId};
    </select>

    <!--插入到不限次数的安排表-->
    <insert id="insertAchievement3Arrange" parameterType="java.util.Map">
        INSERT INTO t_achievement3_arrange
        (id,year,userId,time,achievementId)
        VALUES
        (#{id},#{year},#{userId},#{time},#{achievementId})
    </insert>

    <!--插入到有限次数的安排表-->
    <insert id="insertAchievementArrange" parameterType="java.util.Map">
        INSERT INTO t_achievement_arrange
        (id,year,month,time,achievementId)
        VALUES
        (#{id},#{year},#{month},#{time},#{achievementId})
    </insert>

    <!--录入工作业绩-->
    <insert id="insertAchievement" parameterType="com.telecom.jx.sjy.dangyuanback.pojo.po.Achievement">
        <!--持久化对象时,返回自增的主键:通用方式  -->
        <selectKey keyColumn="id" keyProperty="id" order="AFTER"
                   resultType="com.telecom.jx.sjy.dangyuanback.pojo.po.Achievement">
            SELECT LAST_INSERT_ID() AS id
        </selectKey>
        INSERT INTO t_achievement
        (title,content,year,publishTime,roleId,dScore,lScore,hScore,rate,otherAttr,sumScore)
        VALUES
        (#{title},#{content},#{year},#{publishTime},#{roleId},#{dScore},#{lScore},#{hScore},#{rate},#{otherAttr},#{sumScore})
    </insert>

    <select id="selectAchievementById" parameterType="java.lang.Long"
            resultType="com.telecom.jx.sjy.dangyuanback.pojo.po.Achievement">
        SELECT
        <include refid="baseSql"/>
        FROM t_achievement a
        WHERE a.id = #{achievementId}
    </select>

    <update id="updateAchievement" parameterType="com.telecom.jx.sjy.dangyuanback.pojo.po.Achievement">
        UPDATE t_achievement
        SET title=#{title},content=#{content}
        WHERE id=#{id}
    </update>

    <select id="selectAchievementContents" parameterType="java.util.Map" resultType="com.telecom.jx.sjy.dangyuanback.pojo.po.AchievementContent">
        SELECT  d_c.id,d_c.content,d_c.userId,d_c.arrangeId,
        d_a.achievementId,
        d3_a.achievementId achievement3Id,
        u_d.id userAchievementId,u_d.commitTime
        FROM t_achievement_content d_c
        LEFT JOIN t_achievement_arrange d_a
        ON d_c.arrangeId = d_a.id
        LEFT JOIN t_achievement3_arrange d3_a
        ON d_c.arrangeId = d3_a.id
        LEFT JOIN t_user_achievement u_d
        ON d_c.userId = u_d.userId and
        IFNULL(d_a.time,d3_a.time) = u_d.time and
        IFNULL(d_a.achievementId,d3_a.achievementId) = u_d.achievementId
        WHERE d_c.year=#{year} and u_d.state = 1
    </select>

    <select id="selectAchievementArrangeCustom" parameterType="java.lang.Long" resultType="com.telecom.jx.sjy.dangyuanback.pojo.vo.AchievementArrangeCustom">
        SELECT time,achievementId
        FROM t_achievement_arrange
        WHERE id=#{arrangeId}
    </select>

    <select id="selectAchievement3ArrangeCustom" parameterType="java.lang.Long" resultType="com.telecom.jx.sjy.dangyuanback.pojo.vo.AchievementArrangeCustom">
        SELECT time,achievementId
        FROM t_achievement3_arrange
        WHERE id=#{arrangeId}
    </select>

    <update id="passAchievement" parameterType="java.util.Map">
        UPDATE t_user_achievement
        SET state=2,rScore=#{rScore},finishTime=#{finishTime}
        WHERE id=#{userAchievementId}
    </update>

    <update id="noPassAchievement" parameterType="java.lang.Long">
        UPDATE t_user_achievement
        SET state=0
        WHERE id=#{userAchievementId}
    </update>

    <select id="selectAchieveMonthScore" parameterType="java.util.Map" resultType="java.lang.Integer">
        SELECT SUM(rScore)
        FROM t_user_achievement
        WHERE userId=#{userId} and year=#{year} and month(finishTime)=month(CURDATE())
    </select>

    <select id="selectAchieveSeasonScore" parameterType="java.util.Map" resultType="java.lang.Integer">
        SELECT SUM(rScore)
        FROM t_user_achievement
        WHERE userId=#{userId} and year=#{year} and quarter(finishTime)=quarter(CURDATE())
    </select>

    <select id="selectAchieveYearScore" parameterType="java.util.Map" resultType="java.lang.Integer">
        SELECT SUM(rScore)
        FROM t_user_achievement
        WHERE userId=#{userId} AND year=#{year}
    </select>


</mapper>