<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.telecom.jx.sjy.dangyuanback.mapper.ActivityAttachmentMapper">

    <!--注意字段要和javabean的一样-->
    <sql id="baseSql">
        a_a.id id,
        a_a.localAddress localAddress,
        a_a.serverAddress serverAddress,
        a_a.attachmentType attachmentType,
        a_a.uploadtime uploadtime,
        a_a.activityContentId activityContentId
    </sql>

    <insert id="insertActivityAttachment" parameterType="com.telecom.jx.sjy.dangyuanback.pojo.po.ActivityAttachment">
        INSERT INTO t_activity_attachment
        (localAddress,serverAddress,attachmentType,uploadtime,activityContentId)
        VALUES (#{localAddress},#{serverAddress},#{attachmentType},#{uploadtime},#{activityContentId})
    </insert>


</mapper>