<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.telecom.jx.sjy.dangyuanback.mapper.InfoMapper">

    <!--注意字段要和javabean的一样-->
    <sql id="baseSql">
        i.id id,
        i.title title,
        i.content content,
        i.publishtime publishtime,
        i.roleId roleId
    </sql>

    <!--查询本用户未读消息数量-->
    <select id="selectUnreadInfoCount" parameterType="java.lang.Long" resultType="java.lang.Integer">
        SELECT count(1)
        FROM t_user_unreadedinfo
        WHERE userId = #{userId}
    </select>

    <!--查询本用户所有的消息总数-->
    <select id="selectInfoSize" parameterType="java.lang.Long" resultType="java.lang.Integer">
        SELECT count(1)
        FROM t_info
        WHERE roleId >= #{roleId};
    </select>

    <!--分页查询本用户所有的消息集合-->
    <select id="selectInfoByPage" parameterType="java.util.Map" resultType="com.telecom.jx.sjy.dangyuanback.pojo.po.Info">
        SELECT
        <include refid="baseSql"/>
        FROM t_info i
        WHERE roleId >= #{roleId}
        limit #{currentPage} , #{pageSize}
    </select>

    <!--查询本用户未读的消息的id集合-->
    <select id="selectUnreadInfoId" parameterType="java.lang.Long" resultType="java.lang.Long">
        SELECT infoId
        FROM t_user_unreadedinfo
        WHERE userId = #{userId};
    </select>

    <!--根据消息id查询消息-->
    <select id="selectInfoByInfoId" parameterType="java.lang.Long" resultType="com.telecom.jx.sjy.dangyuanback.pojo.po.Info">
        SELECT
        <include refid="baseSql"/>
        FROM t_info i
        WHERE id = #{infoId};
    </select>

    <!--将已读消息从t_user_unreadedinfo中删除-->
    <delete id="updateInfoReaded" parameterType="java.lang.Long">
        DELETE FROM t_user_unreadedinfo WHERE infoId = #{infoId};
    </delete>

</mapper>