<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.telecom.jx.sjy.dangyuanback.mapper.ProfessDevelopMapper">

    <!--注意字段要和javabean的一样-->
    <sql id="baseSql">
        p.id id,
        p.title title,
        p.content content,
        p.year year,
        p.publishTime publishTime,
        p.roleId roleId,
        p.dScore dScore,
        p.lScore lScore,
        p.hScore hScore,
        p.rate rate,
        p.otherAttr otherAttr,
        p.sumScore sumScore
    </sql>

    <!--查询本年用户所有专业提升-->
    <select id="selectProfessDevelops" parameterType="java.lang.Integer"
            resultType="com.telecom.jx.sjy.dangyuanback.pojo.po.ProfessDevelop">
        SELECT
        <include refid="baseSql"/>
        FROM t_professdevelop p
        WHERE p.year = #{year}
    </select>

    <!--查询党责活动的完成状态，未使用-->
    <select id="selectDangZeState" parameterType="java.util.Map" resultType="java.lang.Integer">
        SELECT state
        FROM t_user_dangze
        WHERE userId = #{userId} AND dangzeId = #{dangzeId};
    </select>

    <insert id="insertProfessDevelop3Arrange" parameterType="java.util.Map">
        INSERT INTO t_professdevelop3_arrange
        (id,year,userId,time,professDevelopId)
        VALUES
        (#{id},#{year},#{userId},#{time},#{professDevelopId})
    </insert>

    <insert id="insertProfessDevelopArrange" parameterType="java.util.Map">
        INSERT INTO t_professdevelop_arrange
        (id,year,month,time,professDevelopId)
        VALUES
        (#{id},#{year},#{month},#{time},#{professDevelopId})
    </insert>

    <insert id="insertProfessDevelop" parameterType="com.telecom.jx.sjy.dangyuanback.pojo.po.ProfessDevelop">
        <!--持久化对象时,返回自增的主键:通用方式  -->
        <selectKey keyColumn="id" keyProperty="id" order="AFTER"
                   resultType="com.telecom.jx.sjy.dangyuanback.pojo.po.ProfessDevelop">
            SELECT LAST_INSERT_ID() AS id
        </selectKey>
        INSERT INTO t_professdevelop
        (title,content,year,publishTime,roleId,dScore,lScore,hScore,rate,otherAttr,sumScore)
        VALUES
        (#{title},#{content},#{year},#{publishTime},#{roleId},#{dScore},#{lScore},#{hScore},#{rate},#{otherAttr},#{sumScore})
    </insert>

    <select id="selectProfessDevelopById" parameterType="java.lang.Long"
            resultType="com.telecom.jx.sjy.dangyuanback.pojo.po.ProfessDevelop">
        SELECT
        <include refid="baseSql"/>
        FROM t_professdevelop p
        WHERE p.id = #{professDevelopId}
    </select>

    <update id="updateProfessDevelop" parameterType="com.telecom.jx.sjy.dangyuanback.pojo.po.ProfessDevelop">
        UPDATE t_professdevelop
        SET title=#{title},content=#{content}
        WHERE id=#{id}
    </update>

    <select id="selectProfessDevelopContents" parameterType="java.util.Map" resultType="com.telecom.jx.sjy.dangyuanback.pojo.po.ProfessDevelopContent">
        SELECT  d_c.id,d_c.content,d_c.userId,d_c.arrangeId,
        d_a.professdevelopId,
        d3_a.professdevelopId professdevelop3Id,
        u_d.id userProfessDevelopId,u_d.commitTime
        FROM t_professdevelop_content d_c
        LEFT JOIN t_professdevelop_arrange d_a
        ON d_c.arrangeId = d_a.id
        LEFT JOIN t_professdevelop3_arrange d3_a
        ON d_c.arrangeId = d3_a.id
        LEFT JOIN t_user_professdevelop u_d
        ON d_c.userId = u_d.userId and
        IFNULL(d_a.time,d3_a.time) = u_d.time and
        IFNULL(d_a.professdevelopId,d3_a.professdevelopId) = u_d.professdevelopId
        WHERE d_c.year=#{year} and u_d.state = 1
    </select>

    <select id="selectProfessDevelopArrangeCustom" parameterType="java.lang.Long" resultType="com.telecom.jx.sjy.dangyuanback.pojo.vo.ProfessDevelopArrangeCustom">
        SELECT time,professdevelopId
        FROM t_professdevelop_arrange
        WHERE id=#{arrangeId}
    </select>

    <select id="selectProfessDevelop3ArrangeCustom" parameterType="java.lang.Long" resultType="com.telecom.jx.sjy.dangyuanback.pojo.vo.ProfessDevelopArrangeCustom">
        SELECT time,professdevelopId
        FROM t_professdevelop3_arrange
        WHERE id=#{arrangeId}
    </select>

    <update id="passProfessDevelop" parameterType="java.util.Map">
        UPDATE t_user_professdevelop
        SET state=2,rScore=#{rScore},finishTime=#{finishTime}
        WHERE id=#{userProfessDevelopId}
    </update>

    <update id="noPassProfessDevelop" parameterType="java.lang.Long">
        UPDATE t_user_professdevelop
        SET state=0
        WHERE id=#{userProfessDevelopId}
    </update>

    <select id="selectProfessDevelopMonthScore" parameterType="java.util.Map" resultType="java.lang.Integer">
        SELECT SUM(rScore)
        FROM t_user_professdevelop
        WHERE userId=#{userId} and year=#{year} and month(finishTime)=month(CURDATE())
    </select>

    <select id="selectProfessDevelopSeasonScore" parameterType="java.util.Map" resultType="java.lang.Integer">
        SELECT SUM(rScore)
        FROM t_user_professdevelop
        WHERE userId=#{userId} and year=#{year} and quarter(finishTime)=quarter(CURDATE())
    </select>

    <select id="selectProfessDevelopYearScore" parameterType="java.util.Map" resultType="java.lang.Integer">
        SELECT SUM(rScore)
        FROM t_user_professdevelop
        WHERE userId=#{userId} AND year=#{year}
    </select>


</mapper>