<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.telecom.jx.sjy.dangyuanback.mapper.SheZeMapper">

    <!--注意字段要和javabean的一样-->
    <sql id="baseSql">
        s.id id,
        s.title title,
        s.content content,
        s.year year,
        s.publishTime publishTime,
        s.roleId roleId,
        s.dScore dScore,
        s.lScore lScore,
        s.hScore hScore,
        s.rate rate,
        s.otherAttr otherAttr,
        s.sumScore sumScore
    </sql>

    <!--查询本年用户所有社责活动-->
    <select id="selectSheZes" parameterType="java.lang.Integer"
            resultType="com.telecom.jx.sjy.dangyuanback.pojo.po.SheZe">
        SELECT
        <include refid="baseSql"/>
        FROM t_sheze s
        WHERE s.year = #{year}
    </select>

    <!--查询党责活动的完成状态，未使用-->
    <select id="selectDangZeState" parameterType="java.util.Map" resultType="java.lang.Integer">
        SELECT state
        FROM t_user_dangze
        WHERE userId = #{userId} AND dangzeId = #{dangzeId};
    </select>

    <insert id="insertSheZe3Arrange" parameterType="java.util.Map">
        INSERT INTO t_sheze3_arrange
        (id,year,userId,time,shezeId)
        VALUES
        (#{id},#{year},#{userId},#{time},#{shezeId})
    </insert>

    <insert id="insertSheZeArrange" parameterType="java.util.Map">
        INSERT INTO t_sheze_arrange
        (id,year,month,time,shezeId)
        VALUES
        (#{id},#{year},#{month},#{time},#{shezeId})
    </insert>

    <insert id="insertSheZe" parameterType="com.telecom.jx.sjy.dangyuanback.pojo.po.SheZe">
        <!--持久化对象时,返回自增的主键:通用方式  -->
        <selectKey keyColumn="id" keyProperty="id" order="AFTER"
                   resultType="com.telecom.jx.sjy.dangyuanback.pojo.po.SheZe">
            SELECT LAST_INSERT_ID() AS id
        </selectKey>
        INSERT INTO t_sheze
        (title,content,year,publishTime,roleId,dScore,lScore,hScore,rate,otherAttr,sumScore)
        VALUES
        (#{title},#{content},#{year},#{publishTime},#{roleId},#{dScore},#{lScore},#{hScore},#{rate},#{otherAttr},#{sumScore})
    </insert>

    <select id="selectSheZeById" parameterType="java.lang.Long"
            resultType="com.telecom.jx.sjy.dangyuanback.pojo.po.SheZe">
        SELECT
        <include refid="baseSql"/>
        FROM t_sheze s
        WHERE s.id = #{shezeId}
    </select>

    <update id="updateSheZe" parameterType="com.telecom.jx.sjy.dangyuanback.pojo.po.SheZe">
        UPDATE t_sheze
        SET title=#{title},content=#{content}
        WHERE id=#{id}
    </update>

    <select id="selectSheZeContents" parameterType="java.util.Map" resultType="com.telecom.jx.sjy.dangyuanback.pojo.po.SheZeContent">
        SELECT  d_c.id,d_c.content,d_c.userId,d_c.arrangeId,
				d_a.shezeId,
				d3_a.shezeId sheze3Id,
                u_d.id userShezeId,u_d.commitTime
				FROM t_sheze_content d_c
				LEFT JOIN t_sheze_arrange d_a
				ON d_c.arrangeId = d_a.id
				LEFT JOIN t_sheze3_arrange d3_a
				ON d_c.arrangeId = d3_a.id
				LEFT JOIN t_user_sheze u_d
				ON d_c.userId = u_d.userId and
				IFNULL(d_a.time,d3_a.time) = u_d.time and
				IFNULL(d_a.shezeId,d3_a.shezeId) = u_d.shezeId
        WHERE d_c.year=#{year} and u_d.state = 1
    </select>

    <select id="selectSheZeArrangeCustom" parameterType="java.lang.Long" resultType="com.telecom.jx.sjy.dangyuanback.pojo.vo.SheZeArrangeCustom">
        SELECT time,shezeId
        FROM t_sheze_arrange
        WHERE id=#{arrangeId}
    </select>

    <select id="selectSheZe3ArrangeCustom" parameterType="java.lang.Long" resultType="com.telecom.jx.sjy.dangyuanback.pojo.vo.SheZeArrangeCustom">
        SELECT time,shezeId
        FROM t_sheze3_arrange
        WHERE id=#{arrangeId}
    </select>

    <update id="passSheZe" parameterType="java.util.Map">
        UPDATE t_user_sheze
        SET state=2,rScore=#{rScore},finishTime=#{finishTime}
        WHERE id=#{userShezeId}
    </update>

    <update id="noPassSheZe" parameterType="java.lang.Long">
        UPDATE t_user_sheze
        SET state=0
        WHERE id=#{userShezeId}
    </update>


</mapper>